@page "{id:int?}"
@model BeautyShop1.Pages.Customers.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post">
    <input type="hidden" asp-for="Customer.Id" />
    <div class="form-row">
        <div class="col">
            <label asp-for="@Model.Customer.FirstName"></label>
            <input type="text" class="form-control" asp-for="@Model.Customer.FirstName">
            <span asp-validation-for="@Model.Customer.FirstName" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="@Model.Customer.LastName"></label>
            <input type="text" class="form-control" asp-for="@Model.Customer.LastName">
            <span asp-validation-for="@Model.Customer.LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <label asp-for="@Model.Customer.MembershipId"></label>
        <select class="form-control" asp-for="@Model.Customer.MembershipId" asp-items="@Model.Memberships">
            <option value="">No Membership</option>
        </select>
    </div>
    <div class="form-row">
        <div class="col">
            <button class="btn btn-success">Save</button>
        </div>
    </div>
</form>
